.gesinSlider {
    position: relative;
    width: 1000px;
    height: 38px;
    margin: 0;
    padding: 0;
}

.gesinSlider .darkGrayLayer,
.gesinSlider .lightBlueLayer,
.gesinSlider .darkBlueLayer,
.gesinSlider .clicableLayer {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
}

/* --------------------------------- Layer 1 - Cinza Escuro */

.gesinSlider .darkGrayLayer {
    background: url(images/pc_bar_darkgray.png) no-repeat right transparent;
    width: 18px;
    height: 38px;
    top: 0;
}

/* --------------------------------- Layer 2 - Azul Claro */

.gesinSlider .lightBlueLayer {
    background: url(images/pc_bar_lightblue.png) repeat-x;
    height: 32px;
    top: 4px;
    left: 0;
}

/* --------------------------------- Layer 3 - Azul Escuro */

.gesinSlider .darkBlueLayer {
    background: url(images/pc_bar_darkblue_right.png) no-repeat right #005399;
    height: 32px;
    top: 4px;
    left: 0;
}

/* --------------------------------- Layer 4 - Branco */

.gesinSlider .whiteLayer {
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    height: 32px;
    width: 1000px;
}

.gesinSlider .whiteLayer .slicer {
    background: url(images/pc_bar_white.png) no-repeat;
    position: absolute;
    top: 0;
    display: block;
    height: 32px;
    width: 41px;
}

.gesinSlider .whiteLayer .text {
    position: absolute;
    font-family: 'Helvetica Neue', 'Lucida Grande', 'Segoe UI', Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    color: #ffffff;
    top: 6px;
}

/* --------------------------------- Layer 5 - Cinza Claro */

.gesinSlider .lightGrayLayer {
    position: relative;
    top: 0;
    height: 51px;
    display: block;
}

.gesinSlider .lightGrayLayer .lightGrayLeft {
    background: url(images/pc_bar_lightgray_left.png) no-repeat;
    position: absolute;
    height: 38px;
    width: 32px;
    top: 0;
    left: 0;
    display: block;
}

.gesinSlider .lightGrayLayer .lightGrayCenter {
    background: url(images/pc_bar_lightgray_center.png) repeat-x;
    position: absolute;
    height: 38px;
    top: 0;
    left: 32px;
    display: block;
}

.gesinSlider .lightGrayLayer .lightGrayRight {
    background: url(images/pc_bar_lightgray_right.png) no-repeat;
    position: absolute;
    height: 38px;
    width: 26px;
    top: 0;
    right: 0;
    display: block;
}

/* --------------------------------- Layer 6 - Texto Preto */

.gesinSlider .blackLayer {
    position: absolute;
    height: 32px;
    width: 1000px;
    top: 4px;
    left: 0;        
}

.gesinSlider .blackLayer .text {
    position: absolute;
    top: 6px;
    font-family: 'Helvetica Neue', 'Lucida Grande', 'Segoe UI', Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    color: #2b2b2b;
}

/* ------------------ Layer 6 - Camada para tratar o click */

.gesinSlider .clicableLayer {
    height: 38px;
    left: 0;
    top: 0;
}

/* ------------------ Corpo do Painel de Controle do GESIN */

.gesinSliderBody {
    border: 1px solid #428BCA;
    padding: 0 10px 14px;
    margin: 0;
    
    border-top: none;
    margin-top: -2px;
    padding-top: 12px;

    overflow: hidden;
}

.gesinSliderBody .slider {
    margin-left: 0;
}

.gesinSliderBody .slider .sliderPage {
    float: left;
    margin-right: 12px;
}
